@model Course;
@* @using AzureStorageLibrary;
@inject IBlobStorage _blobStorage;
@{
    var blobUrl = _blobStorage.BlobUrl;
} *@

<div>
    <a asp-action="Index" asp-controller="Blobs" class="btn btn-outline-warning" >Add Picture</a>
</div>

<h3 class="display-6">Add New Courses</h3>
<form method="post" asp-action="@(ViewBag.isUpdate? "Update" : "Create")" enctype="multipart/form-data">
    <span asp-validation-for="Name" class="text-danger"></span><br/>
    <input asp-for="@Model.Name" placeholder="Course Name" />
    <select asp-items="Html.GetEnumSelectList<ECourseCategory>()" asp-for="CourseCategory"></select>
    <input asp-for="@Model.RowKey" type="hidden" />
    <input asp-for="@Model.PartitionKey" type="hidden" />
    <input asp-for="@Model.TotalParticipant" type="hidden" />
     <input type="file" name="picture" />    
    <input type="submit"  value="@(ViewBag.isUpdate ? "Update" : "Save")" class="btn btn-primary"/>
    
</form>

<div class="mt-2">
    <h4>Search</h4>
    <form method="get" asp-action="FilterByName">
        <input type="text" name="filteredName" placeholder="Course Name"/>
        <button type="submit" class="btn btn-info">Search By Name</button>
    </form>
</div>

<table>
    <thead>
        <tr>
            <td>Name</td>
            <td>CourseCategory</td>
            <td>TotalParticipant</td>
            <td>createdAt</td>
            <td>Picture</td>
        </tr>
    </thead>
    <tbody>
        
@*             @if(((IEnumerable<dynamic>)ViewBag.courses).Count() == 0)
 *@            @if(Enumerable.Count(ViewBag.courses) == 0)
            {
                <div class="alert alert-danger">No Records Found! </div>
            }
            else
            {
                @foreach (var course in ViewBag.courses as List<Course>)
                {
                    <tr>
                        <td>@course.Name</td>
                        <td>@course.PartitionKey</td>
                        <td>@course.TotalParticipant</td>
                        <td>@course.createdAt</td>
                        <td>
                        <img src="@ViewBag.blobUrl/pictures/@course.CoursePicture" style="width:100px;height:100px" />
                        </td>
                        <td>
                            <a asp-action="Update" asp-controller="Courses" class="btn btn-danger" asp-route-rowKey="@course.RowKey" asp-route-partitionKey="@course.PartitionKey">Edit</a>
                            <a asp-action="Delete" asp-controller="Courses" class="btn btn-danger" asp-route-rowKey="@course.RowKey" asp-route-partitionKey="@course.PartitionKey">Delete</a>
                        </td>
                    </tr>
                }
            }
     
    </tbody>
</table>
<p class="lead">
    @foreach(var log in ViewBag.logs as List<string>)
    {
        <div class="text-danger">@log</div>
    }
</p>